
.card {
    border: 1px solid black;
    border-radius: 0.25rem;
}

.card-body {
    padding: 1rem;
    background-color: darkgray;

}

.card-title {
    margin-bottom: 0.5rem;
}

.card-title a {
    color: #333;
    text-decoration: none;
}

.card-text {
    margin-bottom: 0.25rem;
}

.row {
    background-color: #333;
    width: 100vw;
    height: 100%;
}

.fullscreen{
    margin-top: 50px;
    text-align: center;
    padding: 10px;
    background-color: #333;
    width: 100vw;
    height: 100%;
}