.ContainerImagenes {
  padding-bottom: 20%;
  /* padding-left: 100px; */
}

.info {
  display: flex;
  align-items: center;
  padding-left: 5px;
  margin-top: -170px;
}

.descripcion {
  color: rgb(0, 0, 0);
}
