.login-form {
  padding: 50px;
  color: rgb(255, 255, 255);
  background-color: #333;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 100px;
}
*{
  background-color: #333;
  color: #fff;
}


/*.container {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  align-items: center;
}
.form{
  padding: 50px;
  color: rgb(255, 255, 255);
  background-color: #333;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100px; 
  margin-top: 100px;
}*/