.container {
  display: flex;
  justify-content: space-between;
}

.main-navbar {
  margin-top: 20px;
  width: 200px;
  height: 100px;
  display: inline-block;
}
.boton {
  display: block;
  padding: 10px 30px;
  border-radius: 100px;
  color: white;
  cursor: pointer;
}
.mir {
  color: #dad70f;
}
h2 {
  color: white;
}
.contenedorBotones {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
