.container {
  display: flex;
  justify-content: space-between;
}

.boton {
  display: block;
  padding: 20px 20px;
  border-radius: 100px;
  color: white;
  cursor: pointer;
}
h1{
  
  color: #dad70f;
}
h2 {
  color: white;
}
.contenedorBotones {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
