.contenedorLoad{
    text-align: center;
    background-color: #333;
    width: 100vw;
    height: 100vh;
}

input{
    background-color: rgb(224, 224, 224);
  }

  textarea{
    background-color: rgb(224, 224, 224);
  }

  .error-message{
    color: red;
  }