.Overlay{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background:rgba(0,0,0,.5);
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ContenedorReserva{
    width: 500px;
    min-height:100px;
    background: #202020;
    position: relative;
    border-radius: 5px;
    box-shadow:rgba(43, 35, 35, 0.2)0px 7px 29px 0px;
    padding:20px;
}
.EncabezadoReserva{
    background: #202020;
    display: flex;  
    align-items: center;
    justify-content: space-between;
    margin-bottom:20px;
    padding-bottom:20px;
    border-bottom: 1p solid #202020;
}

.titulo{
    background:#202020;
    font-weight:500;
    font-size: 16px;
    color: #fff;

}
.Cerrar{
    position: absolute;
    top: 0;
    right: 0;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: none;
    width: 40px;
    height: 40px;
}
svg{
    width: 30px;
    height: 30px;
    
}