.contenedorSignup{
    text-align: center;
    padding: 10px;
    height: 100vh;
}

.contenedorSignup input {
    width: 30%;
    margin: 10px;
    background-color: rgb(224, 224, 224);
}

.error-message{
    color: red;
  }